[user]
	name = Andreas Fridlund
	email = andreas.fridlund@fortnox.se
[core]
	excludesfile = ~/.gitignore
	editor = nvim
	autocrlf = input
[pull]
	ff = only
[alias]
	pu = "push --set-upstream origin HEAD"
